@import '~antd/dist/antd.css';
@import '../../assets/style.scss';

body,
html {
    height: 100%;
}

.blog {
    display: flex;
    height: 100vh;
}

.blog-index {
    background-color: rgba(0, 0, 0, .65);
    width: 20%;
    height: 100%;
    background-image: url('../../assets/image/title.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;

    .blog-index-first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .blog-index-avatar {
        height: 15rem;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 32rpx;
            color: white;
        }
    }

    .blog-index-detail {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

.blog-content {
    margin-left: 50px;

}

.ant-avatar-square:hover {
    transform: scale(1.2);
    transition: transfrom .5s;
}